[submodule ".vim"]
	path = .vim
	url = git@github.com:fimad/vim.git
[submodule ".xmonad"]
	path = .xmonad
	url = git@github.com:fimad/xmonad-config.git
[submodule "bin/Scripture"]
	path = bin/Scripture
	url = git@github.com:fimad/Scripture.git
